# Site Configuration
PUBLIC_SITE_URL=https://moveroo.com.au

# Analytics
PUBLIC_GA_ID=G-4DN533CFGK
PUBLIC_ANALYTICS_WEBSITE_ID=3004f4eb-2b2c-4d61-a2fc-2cd23e627f64

# Default OG Image
PUBLIC_OG_IMAGE=https://moveroo.com.au/og-image.png
